.len-content-min {
    display: flex;
}

.len-leaft-sidebar {
    max-width: 250px;
    background-color: aqua;
    width: 250px;
    height: 1000px;
}

.len-body-main {
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
}

.len-showcase-main {
    background-color: antiquewhite;
    width: 850px;
}

.len-right-sidebar {
    max-width: 250px;
    width: 250px;
    height: 1000px;
    background-color: bisque;
}

.information-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-background-image {
    height: 100px;
    width: 250px;
}

.user-avatar {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #e1e1e1
}

.information-avatar {
    width: 60px;
    height: 60px;

}