/* by:yang 2023/12/11 */
@media screen and (max-width:768px) {
    .swiper {
        width: 44vh;
        height: 50vw;
        border-radius: 15px;
    }
    .len-leaft-sidebar {
        display: none;
    }
    .len-calendar{
        display: none
    }
    .len-showcase-main {
        width: 100%;
        padding: 10px;
        background: #fcfcfc;
    }
    

}
@media screen and (max-width:1000px){
    .len-right-sidebar{
        display: none;
    }
    .len-showcase-main {
        width: 72vw;
        padding: 10px;
        background: #fcfcfc;
    }
    
}
