* {
    margin: 0;
    padding: 0;
}

.len-header-main {
    display: flex;
    height: 50px;
}

.len-head {
    background-color: aquamarine;
}

.len-logo-fig {
    height: 100%;
    object-fit: cover;
}