.file-content {
    height: 630px;
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

/* ul li */
.first-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0
}

.first-list:last-of-type {
    top: 80px;
    left: 99px;
}

.first-list:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 30px
}

.first-li {
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    width: 35%
}


.first-li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: -30px
}

.first-li>span:before,
.first-li>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff6d6d;
    border: 2px solid #fff;
    position: absolute;
    left: -7.5px
}

.first-li>span:before {
    top: -10px
}

.first-li>span:after {
    top: 95%
}

.first-list:last-of-type .arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

/* ul li */



/*  */
.first-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

 .first-info:first-letter {
    text-transform: capitalize;
    line-height: 1.7
}

.first-name {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


 .first-time span {
    position: absolute;
    left: -100px;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
}

 .first-time span:first-child {
    top: -16px
}

 .first-time span:last-child {
    top: 94%
}


.file-content {
    background: #00000057;
}