.len-content-min {
    display: flex;
}

.len-leaft-sidebar {
    max-width: 250px;
    background-color: #f9f9f9;
    width: 250px;
    height: 1000px;
    box-shadow: 0 0 10px rgba(180, 180, 180, .8);
}

.len-body-main {
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
}

.len-showcase-main {
    background-color: antiquewhite;
    width: 850px;
}

.len-right-sidebar {
    max-width: 250px;
    width: 250px;
    height: 1000px;
    background-color: bisque;
}

.information-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-background-image {
    height: 100px;
    width: 250px;
}

.len-sidebar-user-information {
    background-color: white;
    margin-bottom: 10px;
}

.user-avatar {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #e1e1e1
}

.information-avatar {
    width: 60px;
    height: 60px;

}

.user-name-avatar {
    margin: 5px 20px;
    display: flex;
}

.user-name-word {
    padding: 10px;
    width: 130px;
    text-align: center;
}

.user-word-title {
    font-size: 12px;
}

.user-biography {
    height: 80px;
}

.len-nav-li-first {
    margin: 10px 20px;
    font-size: 14px;
    color: #919191;
}

li>.iconfont {
    padding: 5px;
}